spring.application.name=api-core
server.port=8082

spring.datasource.url=jdbc:postgresql://localhost:5432/arte  # or wherever your db is
spring.datasource.username=test
spring.datasource.password=test
spring.datasource.driver-class-name=org.postgresql.Driver

management.endpoints.web.exposure.include=health,metrics,prometheus
management.prometheus.metrics.export.enabled=true
spring.flyway.enabled=true
spring.flyway.locations=classpath:db/migration
spring.jpa.hibernate.ddl-auto=none

logging.level.org.flywaydb=DEBUG


spring.security.oauth2.client.registration.github=
spring.security.oauth2.client.registration.client-secret=
spring.security.oauth2.client.registration.scope=user:email,read:user,public_repo

jwt.secret=whateverthehell
jwt.expiration=86400000


management.endpoint.health.show-details=always

logging.pattern.level="%5p [${spring.application.name:},%X{traceId:-},%X{spanId:-}]"