spring.application.name=processing
server.port=8084

# DB
spring.datasource.url=jdbc:postgresql://localhost:5432/arte
spring.datasource.username=test
spring.datasource.password=test
spring.datasource.driver-class-name=org.postgresql.Driver

# gRPC server (inbound from api-core)
grpc.server.port=50053

# actuator and metrics
management.endpoints.web.exposure.include=health,metrics,prometheus
management.prometheus.metrics.export.enabled=true
management.endpoint.health.show-details=always

# log
logging.level.org.flywaydb=DEBUG
logging.level.com.arte.ingestion=DEBUG
logging.pattern.level="%5p [${spring.application.name:},%X{traceId:-},%X{spanId:-}]"
